<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans"
      rel="stylesheet"
    />
    <title>Weather App</title>
  </head>
  <body>
    <h1>5 Day Weather Forecast:</h1>
    <label for="input" class="input">
      <form onsubmit="return getInfo()" autocomplete="off">
        <input type="text" id="search" placeholder="&nbsp;" />
        <span class="label">Search</span> <span class="border"></span>
      </form>
    </label>
    <p class="help-text">
      Must search in the following format: {City}, {Country}.
    </p>
    <p class="help-text">Example: Chapel Hill, US</p>
    <div class="forecast-summary">
      <div class="weather-card">
        <div class="red-dot"></div>
        <div class="blue-dot"></div>
        <div class="tempatures">
          <span class="high">--°</span> <span class="low">--°</span>
        </div>
        <i class=""></i>
        <div></div>
        <div>
          <h2 class="weekday">----</h2>
          <p class="weather-text">---</p>
        </div>
      </div>

      <div class="weather-card">
        <div class="red-dot"></div>
        <div class="blue-dot"></div>
        <div class="tempatures">
          <span class="high">--°</span> <span class="low">--°</span>
        </div>
        <i class=""></i>
        <div></div>
        <div>
          <h2 class="weekday">----</h2>
          <p class="weather-text">---</p>
        </div>
      </div>

      <div class="weather-card">
        <div class="tempatures">
          <div class="red-dot"></div>
          <div class="blue-dot"></div>
          <span class="high">--°</span> <span class="low">--°</span>
        </div>
        <i class=""></i>
        <div></div>
        <div>
          <h2 class="weekday">----</h2>
          <p class="weather-text">---</p>
        </div>
      </div>

      <div class="weather-card">
        <div class="tempatures">
          <div class="red-dot"></div>
          <div class="blue-dot"></div>
          <span class="high">--°</span> <span class="low">--°</span>
        </div>
        <i class=""></i>
        <div></div>
        <div>
          <h2 class="weekday">----</h2>
          <p class="weather-text">---</p>
        </div>
      </div>

      <div class="weather-card">
        <div class="tempatures">
          <div class="red-dot"></div>
          <div class="blue-dot"></div>
          <span class="high">--°</span> <span class="low">--°</span>
        </div>
        <i class=""></i>
        <div></div>
        <div>
          <h2 class="weekday">----</h2>
          <p class="weather-text">---</p>
        </div>
      </div>
    </div>
    <p class="display"></p>
    <script type="text/javascript" src="javascripts/script.js"></script>
  </body>
</html>
